* {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.pathfindingVisualizer {
    min-width: 100%;
    max-width: 100%;
}

.pathfindingVisualizer .container {
    min-width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    color: #fff;
    background-color: #34495e;
}

.pathfindingVisualizer .container .heading {
    display: flex;

    padding: 5px 10px 10px 10px;

    text-align: center;

    justify-content: space-between;
}

.pathfindingVisualizer .container .heading h2 {
    cursor: pointer;
}

.textBox {
    line-height: 20px;
    display: flex;

    padding-top: 5px;
    padding-bottom: 30px;
    justify-content: space-around;
}

.textBox .weightContainer button {
    font-size: 12px;
    font-weight: 500;

    position: relative;

    width: 60px;
    margin-left: 6px;

    color: #fff;
    border-color: #48c9b0;
    border-radius: 5px;
    background-color: #48c9b0;
}

.textBox .weightContainer button:hover {
    color: #000;
    cursor: pointer;
}

.textBox .weightContainer,
.startPointContainer,
.endPointContainer,
input {
    height: 20px;
    text-align: center;
    color: #fff;
    background-color: transparent;
}

.container p {
    padding: 8px 10px 5px 10px;
}

.buttonContainer {
    font-size: 12px;
    font-weight: 500;

    position: relative;

    margin-left: 6px;
    padding: 5px 10px 5px 10px;

    cursor: pointer;
    transition-duration: 0.8s;

    color: #fff;
    border-color: #48c9b0;
    border-radius: 5px;
    background-color: #48c9b0;
    display: inline-block;
}
.buttonContainer:hover {
    background-color: #87dfcc;
}

.buttonContainer p {
    padding: 0;
}

.visualGridContainer .gridBox {
    max-width: 80em;
    margin: 5px auto;

    border: 2px solid black;
}

.maxWidth-600 {
    max-width: 600px;
}
/* Responsiveness */

@media (max-width: 840px) {
    .pathfindingVisualizer,
    .PopUpTextBox {
        display: none;
    }
}
