/* Setting the blur effect */
.pathfindingVisualizer {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* Css for the Popup */
.PopUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 70vh;
}

.PopUp .PopUpTextBox {
    width: 80%;
    max-height: 70vh;
    background-color: white;
    z-index: 10;
    margin: auto;

    border: 2px solid black;
    border-radius: 20px;
}

.PopUp .PopUpTextBox header {
    box-sizing: border-box;
    border: 2px solid #27ae60;

    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 6px 5px 0px 15px;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 10%;

    background-color: #27ae60;
    color: white;

    margin-bottom: 10px;
}

.PopUp .PopUpTextBox header h3 {
    padding-right: 5px;
    cursor: pointer;
}

.PopUp .PopUpTextBox header h3:hover {
    color: #111;
}

.skipBox {
    box-sizing: border-box;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
}

.PopUp .PopUpTextBox .skipBox small {
    margin-left: 20px;
}

.PopUp .PopUpTextBox .skipBox small span {
    color: #284baa;
}

.PopUp .PopUpTextBox .skipBox button {
    color: white;
    margin-right: 30px;
    width: 10%;
    background-color: #48c9b0;
    border: 1px solid #48c9b0;
    border-radius: 3px;

    transition: 0.8s;
}

.PopUp .PopUpTextBox .skipBox button:hover {
    color: #111;
    cursor: pointer;
}

.PopUpIntroductionText .wall {
    height: 40px;
    width: 40px;
    display: block;
    margin: auto;
}
